.project-header {
    font-size: 3rem;
    padding: 2rem 0;
    letter-spacing: 0.1rem;
}
.project-wrapper {
    gap: 3rem;
}
.card-wrapper {
    min-width: 40%;
    flex-grow: 1;
    height: 400px;
    position: relative;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 0.5rem 0.1rem rgba(1, 1, 1, 0.5);
    line-height: 1.5;
}
.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}
.card-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.card-banner {
    transition: 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    box-shadow: 0 0 0.5rem 0.1rem rgba(1, 1, 1, 0.5);
    background: rgba(255, 255, 255, 0.5);
    color: white;
    transform: translateY(325px);
}
.card-banner-header {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    height: 75px;
}
.card-banner-content {
    color: black;
    height: 310px;
    overflow-y: scroll;
}
.card-subtitle {
    color: #629a34;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
}
.card-wrapper:hover > .card-banner {
    background-color: rgba(255, 255, 255, 0.95);
    transition: 0.5s;
    opacity: 1;
    transform: translateY(0);
}


  
/* Small and medium devices */
@media only screen and (max-width: 992px) {
    .project-wrapper {
        gap: 2rem;
    }
    .card-wrapper {
        width: 100%;
        height: auto;
        position: unset;
        border-radius: 15px;
        line-height: 1.1;
    }
    .card-inner {
        position: unset;
    }
    .card-img {
        width: 100%;
        height: auto;
    }
    .card-banner {
        position: unset;
        height: auto;
        opacity: 1;
        background: white;
        transition: none;
        transform: none;
    }
    .card-banner-header {
        background: linear-gradient(0deg, #04addc 0%, #63e4fb 100%);
        color: white;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        height: auto;
    }
    .card-banner-content {
        color: black;
        height: auto;
    }
    .card-subtitle {
        padding: 1rem 0;
    }
    .card-wrapper:hover > .card-banner {
        background: white;
        opacity: 1;
        transition: none;
        transform: none;
    }
}
   
/* Large devices */
@media only screen and (min-width: 992px) {
    .project-wrapper {
        gap: 3rem;
    }
}
  